# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/d
/s
/t
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
obj
bin
d
s
t

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Visual Studio 2015
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/api/SecurityApi/CcsSso.Security.Api/CcsSso.Security.Api.xml

# Rider IDE files
/shelf/
/workspace.xml
# Rider ignored files
.idea
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Local secrets
api/CcsSso.Core.DataMigrationJobScheduler/appsecrets.json
api/CcsSso.Core.DelegationJobScheduler/appsecrets.json
api/CcsSso.Core.DormancyJobScheduler/appsecrets.json
api/CcsSso.Core.JobScheduler/appsecrets.json
api/CcsSso.Core.PPONScheduler/appsecrets.json
api/CcsSso.Core.ReportingScheduler/appsecrets.json