<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex">
  <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" routerLink="/home">Administrator dashboard</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" routerLink="/manage-org/profile">Manage your organisation</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Add new registry</a>
          </li>
      </ol>
  </div>
  <h1 class="govuk-heading-xl page-title">Enter your organisation's details</h1>
  <h2> </h2>
  <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-form-group" *ngIf="!isValid() && submitted">
        <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <a><li>This Registry is already part of your Organisation Profile. Search for a different Registry</li></a>
            </ul>
          </div>
        </div>
      </div>
      <p>Please choose one option to complete your verification:</p>
      <div class="brickendon-group" *ngFor="let item of items$! | async">
        <div><input type="radio" name="scheme" value="{{ item.scheme }}" checked="checked" [(ngModel)]="scheme" (click)="onSelect(item)"><label (click)="onSelect(item)">{{ item.schemeName }}</label></div>
        <div [class.govuk-form-group--error]="submitted && scheme === item.scheme && txtValue == '' && !isValid()" *ngIf="scheme === item.scheme" style="height: 70px; border-left: 2px solid #8F8F8F; padding-left: 5px; margin-left: 1px;">
          <label style="padding-bottom: 5px; display: block; padding-top: 8px;">Enter your {{ item.schemeName }} number</label>
          <!-- <input type="text" [(ngModel)]="txtValue" style="margin-left: 15px;" /> -->
          <div class="govuk-form-group">
            <!-- <span id="firstname-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.firstName.invalid">
              <span class="govuk-visually-hidden">Error:</span>Enter your first name
            </span> -->
            <input class="govuk-input" size="20" type="text" [(ngModel)]="txtValue" style="margin-left: 10px;" [class.govuk-input--error]="submitted && scheme === item.scheme && txtValue == '' && !isValid()">
          </div>
        </div>
      </div>
      <button style="background: rgba(11, 130, 139, 1);" (click)="onSubmit()">Continue</button>
    </div>
  </div>
  <!--<app-footer></app-footer>-->
</div>
