<!--<app-sidenav [collapsed]="sideNavVisible$ | async"></app-sidenav>-->
<div class="content flex" style="height:650px;">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" routerLink="/home">Administrator dashboard</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" routerLink="/manage-org/profile">Manage your organisation</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Add Office</a>
          </li>
      </ol>
  </div>
  <h1 class="govuk-heading-xl page-title">Add Office</h1>
  <h2></h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form class="govuk-!-width-three-quarters" [class.error]="!formValid(formGroup)" [formGroup]="formGroup">
        <div class="govuk-form-group" *ngIf="formValid(formGroup) == false && submitted">
          <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title"> There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <a *ngIf="formGroup.controls['name'].hasError('required')"><li>Enter your office location</li></a>
                <a *ngIf="formGroup.controls['streetAddress'].hasError('required')"><li>Enter your street address</li></a>
                <a *ngIf="formGroup.controls['locality'].hasError('required')"><li>Enter your locality</li></a>
                <a *ngIf="formGroup.controls['region'].hasError('required')"><li>Enter your region</li></a>
                <a *ngIf="formGroup.controls['postalCode'].hasError('required')"><li>Enter your post code</li></a>
                <a *ngIf="formGroup.controls['countryCode'].hasError('required')"><li>Enter your country code</li></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.name.invalid">
          <label class="govuk-label" for="name">Office Location</label>
          <span id="name-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.name.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your office location
          </span>
          <input class="govuk-input" id="name" formControlName="name" maxlength="100" name="name" size="20" type="text" value="" autocomplete="name" [class.govuk-input--error]="submitted && formGroup.controls.name.invalid">
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.streetAddress.invalid">
          <label class="govuk-label" for="streetAddress">Office Street Address</label>
          <span id="streetAddress-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.streetAddress.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your street address
          </span>
          <input class="govuk-input" id="streetAddress" formControlName="streetAddress" maxlength="100" name="streetAddress" size="20" type="text" value="" autocomplete="streetAddress" [class.govuk-input--error]="submitted && formGroup.controls.streetAddress.invalid">
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.locality.invalid">
          <label class="govuk-label" for="locality">Office Locality</label>
          <span id="locality-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.locality.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your locality
          </span>
          <input class="govuk-input" id="locality" formControlName="locality" maxlength="100" name="locality" size="20" type="text" value="" autocomplete="locality" [class.govuk-input--error]="submitted && formGroup.controls.locality.invalid">
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.region.invalid">
          <label class="govuk-label" for="region">Office Region</label>
          <span id="region-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.region.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your region
          </span>
          <input class="govuk-input" id="region" formControlName="region" maxlength="100" name="region" size="20" type="text" value="" autocomplete="region" [class.govuk-input--error]="submitted && formGroup.controls.region.invalid">
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.postalCode.invalid">
          <label class="govuk-label" for="postalCode">Office Post Code</label>
          <span id="postalCode-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.postalCode.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your post code
          </span>
          <input class="govuk-input" id="postalCode" formControlName="postalCode" maxlength="100" name="postalCode" size="20" type="text" value="" autocomplete="postal code" [class.govuk-input--error]="submitted && formGroup.controls.postalCode.invalid">
        </div>

        <div class="govuk-form-group" [class.govuk-form-group--error]="submitted && formGroup.controls.countryCode.invalid">
          <label class="govuk-label" for="countryCode">Office Country code</label>
          <span id="countryCode-error" class="govuk-error-message" *ngIf="submitted && formGroup.controls.countryCode.invalid">
            <span class="govuk-visually-hidden">Error:</span>Enter your country code
          </span>
          <input class="govuk-input" id="countryCode" formControlName="countryCode" maxlength="100" name="countryCode" size="20" type="text" value="" autocomplete="country code" [class.govuk-input--error]="submitted && formGroup.controls.countryCode.invalid">
        </div>

        <div class="govuk-form-group govuk-button-group">
          <button class="govuk-!-font-size-18 govuk-!-font-weight-bold govuk-button" data-module="govuk-button" (click)="onSubmit(formGroup)">Save changes</button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="onCancelClick()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>