app-manage-organisation-contact-operation-success {
    min-height: 1000px;
    h1 {
        margin-top: 38px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 50px;
    }

    .navigation-text {
        margin-top: 50px;
        margin-bottom: 100px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 24px;
    }
}
